@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
       134.34% 134.34% at 50% 0%,
       #6262e2 0%,
       #e4e4eb 100%
      );
   display: flex;
   flex-direction: column;
   align-items: center;
}

.scoreboard {
    width: 700px;
    border: 1px solid rgb(24, 8, 8);
    border-radius: 15px;
    margin-top: 50px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-left: 1px
}

.logo {
    width: 120px;
    height: 110px;
    border-radius: 12px;
    display: flex;
}

.score {
    width: 107px;
    height: 110px;
    background: rgb(200, 196, 196);
    border-radius: 8px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score p {
    color: rgb(24, 8, 8);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 18px;
}

/* Style the hands icons*/
.hands {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 350px;
    margin-top: 50px;
}

.hands, img {
    width:10vw;
    padding: 2px 4px;
    margin: 0 10px
}

.hands .hand  {
    cursor: pointer;
    transition: all 0.25s;
}

.hands .hand:hover{
    transform: translate3d(0px, -8px, 0px);
}

.contest {
    width: 500px;
    display: none;
    margin-top: 40px;
}

.contest img {
    width: 155px;
    height: 155px;
}

.contest > div {
    flex: 1;
}

.contest h1 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.contest .handImageContainer {
    display: flex;
    justify-content: center;
}

.ref {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.ref h1 {
    font-size: 18px;
    margin-bottom: 15px;
}

.newGame {
    background: #9393f2;
    font-size: 18px;
    color: black;
    padding: 12px 24px;
    border-radius: 7px;
    border: 1px solid rgb(24, 8, 8);
    cursor: pointer;
    transition: all 0.10s;
}

.newGame:hover {
    background: rgb(200, 196, 196);
    transform: translate3d(0px, -2px, 0px);
}

@media (max-width: 320px) {
    .scoreboard {
        width: 250px;
        height: 100px;
        margin: 30px;
    }

    .logo {
        width: 89px;
        height: 82px;
        margin-left: 4px;
    }
    
    .score {
        width: 80px;
        height: 75px;
        margin-right: 8px;
    }

    .hands {
        height: 170px;
    }

    .contest img {
        width: 100px;
        height: 90px;
    }

    .contest {
        width: 100px;
        margin-right: 250px;
    }
    
}
    